@import url('https://fonts.googleapis.com/css?family=Thasadith');
@import url('https://fonts.googleapis.com/css?family=Farsan|Nunito|Quicksand');

body {
    margin: 0px;
    padding: 0px;
}

.SpaceNav {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to right top, #3c80ac, #3c7faf, #3e7fb2, #407eb5, #437db8, #4485bb, #468dbe, #4b94c0, #5fa4c0, #7bb3c0, #99c0c3, #b8cdca);
    height: 100px;
    box-shadow: 1px 10px 10px -6px rgba(255,255,255,1);
}

.SpaceNav h1 {
    color: #FFFFFF;
    text-shadow: 0px 0px 3px rgba(255, 255, 255, 1);
    font-family: "Thasadith",sans-serif;
    font-size: 2.4em;
}

.SpaceSign {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to left top, #223431, #223735, #233a3a, #243c3e, #253f43, #274249, #29464f, #2c4955, #314e5d, #365465, #3d596e, #445e76);
    background-size: contain;
    height: 400px;
}

.SpaceSign h1 {
    color: white;
    text-shadow: 0px 0px 3px rgba(255, 255, 255, 1);
    font-family: "Thasadith",sans-serif;
    font-size: 2em;
    z-index: 10;
    margin-top: -20px;
    margin-bottom: 5px;
}

.SpaceSign form {
    padding-top: 10px;
    padding-bottom: 0px;
    border-radius: 5px;
    height: 75%;
    width: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: linear-gradient(to right top, #3c80ac, #3c7faf, #3e7fb2, #407eb5, #437db8, #4485bb, #468dbe, #4b94c0, #5fa4c0, #7bb3c0, #99c0c3, #b8cdca);
}

.SpaceSign form:hover {
    transition: 2s;
    box-shadow: 1px 6px 30px -2px rgba(247,247,247,1);
}

.SpaceSign form input {
    width: 75%;
    height: 10%;
    border-radius: 4px;
    margin: 5px 0px;
    font-family: "Quicksand", sans-serif;
    font-weight: bolder;
}

.SpaceSign form button {
    width: 77%;
    height: 13%;
    margin: 5px 0px;
    font-family: "Thasadith",sans-serif;
    font-weight: bolder;
    font-size: 20px;
    background: rgb(37, 37, 37);
    color: #FFFFFF;
    text-shadow: 0px 0px 3px rgba(255, 255, 255, 1);
    border-radius: 4px;
    border: none;
}

.SpaceSign form button:hover {
    background: whitesmoke;
    text-shadow: 0px 0px 3px rgba(255, 255, 255, 1);
    color: rgb(46, 165, 239);
    transition: 1s;
    border: none;
}

.SpaceSign form p {
    margin-top: 5px;
    color: #FFFFFF;
    font-family: 'Farsan', cursive;
    text-shadow: 0px 0px 3px rgba(255, 255, 255, 1);
    font-size: 1.2em;
}

.SpaceSign form p a {
    color: rgb(28, 82, 136);
    text-shadow: none;
}

.SpaceSign form p a:hover {
    color: rgb(83, 218, 255);
    text-decoration: overline;
    transition: 1s;
}

#B-Mid .Features {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to top, #3c80ac, #3c7faf, #3e7fb2, #407eb5, #437db8, #4485bb, #468dbe, #4b94c0, #5fa4c0, #7bb3c0, #99c0c3, #b8cdca);
    height: 400px;
}