@import url('https://fonts.googleapis.com/css?family=Staatliches');

body {
    margin: 0px;
    padding: 0px;
}

.SpaceNav {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to right top, #0b2b34, #0d2f3a, #103340, #133846, #163c4c, #194153, #1d455a, #214a61, #25516a, #295874, #2d5f7d, #326687);
    height: 90px; 
}

.SpaceNav h1 {
    color: #FFFFFF;
    text-shadow: 1px 3px 0 #969696, 1px 2px 3px #aba8a8;
    font-family: 'Staatliches', cursive;
    font-size: 2.4em;
}