
{% extends "base.html" %}
{% block content %}
  

          <div class="inner cover">
            <h1 class="cover-heading">The SpaceFolio</h1>
            <p class="lead">In the universe there are many unseen and unknown events that take place. In the Explore Page you will be able to browse space stories, events & facts. This section is here to educate you the reader on well known space related events.</p>
            <p class="lead">
              <a href="#" class="btn btn-lg btn-default">Explore</a>
            </p>
          </div>

         

        
  {% endblock %}

    
    

  </body>

</html>
