<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>The SpaceFolio | A Place For Space Enthusiasts</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/Space.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <section id="B-Top">
        <div class="SpaceNav">
            <h1>The Spacefolio</h1>
        </div>
        <div class="SpaceSign">
            <form action="{{ url_for('welcome') }}" method="POST">
                <h1>Log In</h1>
                <input type="email" name="S_Email" placeholder="Enter Your Email" required>
                <input type="text" name="S_UserName" placeholder="Enter A Username" required>
                <input type="password" name="S_Password" placeholder="Enter Your Password" required>
                <button>Enter</button>
                <p>Not A Member Yet? <a href="{{url_for('sign')}}">Sign Up</a></p>
            </form>
        </div>
    </section>
    <section id="B-Mid">
        <div class="Features">
            <div class="One">
                <img src="" alt="">
                <h2><i class="fa fa-rocket" aria-hidden="true"></i> Explore</h2>
                <p>In the universe there are many unseen and unknown events that take place. In the Explore Page you will be able to browse space stories, events & facts. This section is here to educate you the reader on well known space related events.</p>
            </div>
            <div class="Two">
                <img src="" alt="">
                <h2><i class="fa fa-picture-o" aria-hidden="true"></i> Gallery</h2>
                <p>Come check out the Gallery. The photos in the Gallery were taken from different photographers around the globe. Feel free to send us images that you think should be on the Gallery. </p>
            </div>
            <div class="Three">
                <img src="" alt="">
                <h2><i class="fa fa-comments-o" aria-hidden="true"></i> Discuss</h2>
                <p>Join a community and post your questions on certain topics. Challenge random users in our Space quizes.</p>
            </div>
        </div>
        <div class="About">

        </div>
    </section>
</body>
</html>