<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>The SpaceFolio | A Place For Space Enthusiasts</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/Space.css') }}">
</head>
<body>
    <section id="B-Top">
        <div class="SpaceNav">
            <h1>The Spacefolio</h1>
        </div>
        <div class="SpaceSign">
            <form action="{{ url_for('sign') }}" method="POST">
                <input type="email" name="S_Email" required>
                <input type="text" name="S_UserName" required>
                <input type="password" name="S_Password" required>
                <button>Enter</button>
            </form>
        </div>
    </section>
</body>
</html>